<!DOCTYPE html>
<html>
<head>
  <title>Search Students</title>
</head>
<body>
<p> working</p>
<form action="/searchstudents" method="POST">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Search</button>
  </form>
  
</body>
</html>